body {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 55px;
	letter-spacing: 0.25rem;
	font-weight: 700;
}

h4 {
	font-size: 28px;
}

.wrapper {
	padding: 20px 0px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

.home {
	margin: 10% 0px 5%;
}

.icons {
	text-align: center;
}
.social-media-list  a {
	text-decoration: none;
	text-decoration-color: -moz-use-text-color;
	text-decoration-line: none; 
	text-decoration-style: solid;
	color: #ADADAD;
	padding-right: 5%;
}

#blog_block {
	margin: 10% 0px 5%;
	width: 50%;
	padding: 20px 0px;
	position: relative;
}

#oneliner {
	font-family: 'Lato';
}

#hobbies {
	font-family: 'Lato Light';
}

.social-media-list  a:hover {
	color: black;
}

a:visited {
	color: #11B17E;
}

a:-webkit-any-link {
	cursor: auto;
}

#icon_block {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 30px;
}


.social-media-list {
	list-style: outside none none;
	text-align: center;
	font-size: 300%;
}

@media (max-width: 500px) {
	h1 {
		font-size: 32px;
	}
	h4 {
		font-size: 24px;
	}
}